<!-- START OF STORY CONTENT -->
  
<div class="container-fluid" style="margin-top: -30px">
  <div class="row d-flex justify-content-center">
    <div class="col-md-10 col-11 bg-white">
      <div class="top-spacer mb-3">
        <!--/stories-->
        
        <div class="card mt-5 border-0">
          <div class="row g-2 p-3">
            <div class="col-md-2 d-flex justify-content-center my-auto">
              <img
                class="rounded-circle"
                src={{book.image}}
                alt="..."
                style="width: 120px; height: 120px"
              />
            </div>
            <div class="col-md-10">
              <div class="card-body">
                <h3 class="card-title">{{book.title}}</h3>
                <h5>
                  <span class="bg-secondary rounded-3 p-1">{{book.author}}</span>
                </h5>
                <div class="d-flex">
                  <p class="card-text">
                    <small class="text-muted">{{book.genre}}  • </small>
                  </p>
        
                  <div class="row">
                      <div class="col-xs-9">
                         <p style="font-weight: bold;">About the Book : {{book.description}}</p>
                      </div>
                    </div>
                </div>
              </div>
            </div>
            <hr />
            
          </div>
        </div>
        
       

<!-- END OF CARD CONTAINER-->




<!-- ---------------------------------------- -->
