<div class="container-fluid col-md-5 col-xl-4 colorWhite g-0">
  <!-- <div class="row text-center mb-3 mt-3 justify-content-center"> -->
    <!-- <p class="h3 colorBlue">Add Author</p> -->
  <!-- </div> -->
  <!-- END OF SIGN UP TEXT -->

  <div class="row bgcolorBlue justify-content-center mb-1 rounded">
    <div class="col-12 px-5">
      
      <form class="row g-1 mt-4" method="POST" #authorform='ngForm' (ngSubmit)='updateAuthor()' enctype="multipart/form-data">
        
          
        <div class="col-12">
          <label for="authorname" class="form-label">Author Name</label>
          <div class=" d-flex">
            <input
              type="text"
              class=" form-control rounded-3"
              id="author" 
              name="author"
               [(ngModel)] ="author.author"
              required
            />
          </div>
        </div>

        <!-- END OF Author name -->
        <div class="col-12">
          <label for="country" class="form-label">Country</label>
          <div class=" d-flex">
            <input
              type="text"
              class=" form-control rounded-3"
              id="country"
               name="country" 
               [(ngModel)] ="author.country"
              required
            />
          </div>
        </div>

        <!-- END OF Country -->


        <div class="col-12">
          <label for="genre" class="form-label">Genre</label>
          <div class=" d-flex">
            <input
              type="text"
              class=" form-control rounded-3"
              id="genre" 
              name="genre"
              [(ngModel)] ="author.genre" 
              required
            />
          </div>
        </div>

        <!-- END OF Genre -->
     

        <div class="col-12">
          <label for="famousbooks" class="form-label">Famous Books</label>
          <div class=" d-flex">
            <input
              type="text"
              class=" form-control rounded-3"
              id="addauthor"
               name="author"
                [(ngModel)] ="author.famousbooks"  
              required
            />
          </div>
        </div>

        <!-- END OF Famous Book -->
       

        
        <div class="col-12">
          <label for="description" class="form-label">Description</label>
          <div class=" d-flex">
            <input
              type="text"
              class=" form-control rounded-3"
              id="description" 
              name="description" 
              [(ngModel)] ="author.description" 
              required
            />
          </div>
        </div>

        <!-- END OF Description -->


        <div class="col-12 mb-4">
          <label for="image" class="form-label">Image</label>
          <div class="d-flex">
            <input type="text" class="form-control" id="image" name="image"  [(ngModel)] ="author.image" required>
          </div>
        </div>  

        <!-- END OF Image -->
        <div class="col-10 mb-3 mx-auto">
          <button
            type="submit"
            class="btn btn-outline-primary mx-auto w-100 rounded-pill"
            [disabled]='authorform.form.invalid'
          >
            Add Author
          </button>
        </div>
        <!-- END OF SUBMIT BUTTON -->
        <hr />
        
      </form>
      <!-- END OF FORM -->
    </div>
    <!-- END OF COLUMN TEXT -->
  </div>
  <!-- END OF SIGN IN ROW -->


</div>
<!-- END OF CONTAINER -->
<!-- ----------------------------------------- -->





