<div class="container mt-5 bg-light col-lg-6" id="footer">
  <div class="row">
    <div class="col col-sm-6">
      <h1>Follow Us</h1>
      <div class="btn-group">
        <a class="btn btn-twitter btn-lg" href="#"
          ><i class="icon-twitter icon-large"></i> Twitter</a
        >
        <a class="btn btn-facebook btn-lg" href="#"
          ><i class="icon-facebook icon-large"></i> Facebook</a
        >
        <a class="btn btn-google-plus btn-lg" href="#"
          ><i class="icon-google-plus icon-large"></i> Google+</a
        >
      </div>
    </div>
  </div>
</div>

<footer class="bg-dark">
  <div class="container" >
    <div class="row mt-5 pt-3 pb-3">
      <div class="col-sm-12 d-flex">
        <p class="ms-auto text-light">Built by <a href="#" class="text-decoration-none">Neeraj Jerauld</a></p>
      </div>
    </div>
  </div>
</footer>